@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  line-height: 24px;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

p {
  line-height: 24px;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}
a:visited {
  color: inherit;
}

:root {
  --swiper-theme-color: #ffd153 !important;
}

div {
  box-sizing: border-box;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
}

:root body {
  position: absolute;
}

body {
  width: 100%;
}

.card {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0px 140px;
}

@media (max-width: 568px) {
  .card {
    padding: 0 20px;
  }
}
.button {
  border-radius: 22px;
  width: 128px;
  height: 40px;
}
.button a {
  width: 128px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button-orange {
  background-color: #FF5D50;
}

.button-blue {
  background-color: #56C4C5;
}

.title-blue {
  color: #56C4C5;
}

.title-bold {
  font-weight: bold;
}

.title p {
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 568px) {
  .title p {
    font-size: 16px;
  }
}
.title-l p {
  font-size: 48px;
  line-height: 70px;
}

@media (max-width: 568px) {
  .title-l p {
    font-size: 32px;
    line-height: 46px;
  }
}
.title-m > p {
  font-size: 32px;
  line-height: 46px;
}

@media (max-width: 568px) {
  .title-m > p {
    font-size: 28px;
    line-height: 40px;
  }
}
.title-s > p {
  font-size: 24px;
  line-height: 35px;
}

@media (max-width: 568px) {
  .title-s > p {
    font-size: 18px;
    line-height: 26px;
  }
}
.sub-title p {
  font-size: 20px;
  line-height: 29px;
}

@media (max-width: 568px) {
  .sub-title p {
    font-size: 16px;
    line-height: 24px;
  }
}
.header .card {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo img {
  height: 40px;
}
.header .logo h1 {
  display: none;
}

@media (max-width: 568px) {
  .header .card {
    width: 100%;
    padding: 16px 20px;
    border-bottom: 2px solid #FFD153;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .logo img {
    height: 24px;
  }
}
.credit {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

@media (max-width: 568px) {
  .credit-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .credit-wrap .credit {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
  }
  .credit-wrap .credit p {
    text-align: center;
  }
}
.top-button {
  width: 71px;
  height: 71px;
  position: fixed;
  right: 48px;
  bottom: 23px;
  background-color: #56C4C5;
  border-radius: 50%;
  z-index: 99;
}
.top-button a {
  width: 71px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-family: "Wendy One", sans-serif;
}

@media (max-width: 568px) {
  .top-button {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: #56C4C5;
    border-radius: 50%;
    z-index: 99;
  }
  .top-button a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-family: "Wendy One", sans-serif;
  }
}
.header::before {
  content: "";
  position: absolute;
  width: 885px;
  height: 546px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg);
  background-repeat: no-repeat;
  right: 0px;
  z-index: -1;
}
.header::after {
  width: 100%;
  height: 470px;
  content: "";
  background-color: rgba(0, 0, 0, 0.0784313725);
  border-radius: 0px 0px 0px 300px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -2;
}

@media (max-width: 568px) {
  .header::before, .header::after {
    background-image: none;
    background-color: inherit;
  }
}
.prices-banner {
  height: 382px;
  padding-top: 92px;
  background-image: none;
}
.prices-banner .title {
  margin-top: 16px;
}

@media (max-width: 568px) {
  .prices-banner {
    height: 495px;
    padding-top: 48px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg");
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.0784313725);
    border-radius: 0px 0px 0px 140px;
  }
  .prices-banner .title {
    margin-top: 16px;
  }
}
.choose .card {
  padding-top: 100px;
  text-align: center;
}
.choose .choose-button-wrap {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.choose .choose-button {
  width: 130px;
  height: 50px;
  border-radius: 27px;
  background-color: #56C4C5;
}
.choose .choose-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  color: #fff;
  border-radius: 27px;
}

@media (max-width: 568px) {
  .choose .card {
    padding-top: 60px;
    text-align: center;
  }
  .choose .choose-button-wrap {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .choose .choose-button {
    width: 90px;
    height: 40px;
    border-radius: 27px;
    background-color: #56C4C5;
  }
  .choose .choose-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    color: #fff;
    border-radius: 27px;
  }
}
.plan {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
  background-repeat: no-repeat;
  background-position: -267px 145px;
  background-size: 361px;
}
.plan .card {
  padding-top: 48px;
}
.plan .plan-card-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 21px;
}
.plan .plan-card {
  padding-bottom: 32px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
}
.plan .plan-card .title > p {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
}
.plan .plan-card .plan-card-content > p {
  padding: 24px 20px 0px;
  text-align: center;
}
.plan .plan-card .description-card-wrap {
  padding: 24px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 21px;
}
.plan .plan-card .description-card-wrap .description-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 169px;
  height: 108px;
  padding: 16px 24px;
  background-color: #F5F5F5;
  border-radius: 12px;
}
.plan .plan-card .description-card-wrap .title > p {
  padding: 0px;
  font-size: 12px;
  line-height: 17px;
  font-weight: normal;
  border-bottom: none;
}
.plan .plan-card .description-card-wrap .content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: end;
  gap: 4px;
  font-size: 12px;
  line-height: 17px;
  color: #56C4C5;
}
.plan .plan-card .description-card-wrap .content > p {
  font-size: 28px;
  line-height: 32px;
}
.plan .plan-card .description-card-wrap .watershed > p {
  font-size: 29px;
  line-height: 42px;
}
.plan .plan-card .plan-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 27px 20px 0px;
}
.plan .plan-card .plan-card-list ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.plan .plan-card .plan-card-list li > p {
  display: inline;
  padding-left: 27px;
  font-size: 14px;
  line-height: 20px;
}
.plan .plan-card .plan-card-list li:before {
  content: "";
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 14px;
  padding-bottom: 1px;
}
.plan .plan-card .plan-card-list .button {
  margin-top: 35px;
  width: 136px;
  height: 49px;
  border-radius: 27px;
}
.plan .plan-card .plan-card-list .button > a {
  width: 136px;
  height: 49px;
  border-radius: 27px;
}

@media (max-width: 568px) {
  .plan {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
    background-repeat: no-repeat;
    background-position: -108px 486px;
    background-size: 204px;
  }
  .plan .card {
    padding-top: 32px;
  }
  .plan .plan-card-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .plan .plan-card {
    padding-bottom: 24px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  }
  .plan .plan-card .title > p {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
  }
  .plan .plan-card .plan-card-content > p {
    padding: 24px 20px 0px;
    text-align: center;
  }
  .plan .plan-card .description-card-wrap {
    padding: 24px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 6px;
  }
  .plan .plan-card .description-card-wrap .description-card {
    width: 139px;
    height: 89px;
    padding: 16px 24px;
    background-color: #F5F5F5;
    border-radius: 12px;
  }
  .plan .plan-card .description-card-wrap .title > p {
    word-break: keep-all;
    padding: 0px;
    font-size: 12px;
    line-height: 17px;
    font-weight: normal;
    border-bottom: none;
  }
  .plan .plan-card .description-card-wrap .content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: end;
    gap: 4px;
    font-size: 12px;
    line-height: 17px;
    color: #56C4C5;
  }
  .plan .plan-card .description-card-wrap .content > p {
    font-size: 28px;
    line-height: 32px;
  }
  .plan .plan-card .description-card-wrap .watershed > p {
    font-size: 24px;
    line-height: 35px;
  }
  .plan .plan-card .plan-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px 20px 0px;
  }
  .plan .plan-card .plan-card-list ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .plan .plan-card .plan-card-list li > p {
    display: inline;
    padding-left: 27px;
    font-size: 14px;
    line-height: 20px;
  }
  .plan .plan-card .plan-card-list li:before {
    content: "";
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 16px;
    height: 14px;
    padding-bottom: 1px;
  }
  .plan .plan-card .plan-card-list .button {
    margin-top: 35px;
    width: 136px;
    height: 49px;
    border-radius: 27px;
  }
  .plan .plan-card .plan-card-list .button > a {
    width: 136px;
    height: 49px;
    border-radius: 27px;
  }
}
.problem .card {
  padding: 100px 0px 0px;
  max-width: 930px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.problem .collapsibles-wrap {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.problem .toggle-container {
  height: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
}
.problem .collapsible {
  border-radius: 12px;
  padding: 16px;
  background-color: #fff;
  color: #221E1F;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.problem .collapsible p {
  display: inline;
}
.problem .collapse-content {
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: padding-bottom 1s, max-height 1s, opacity 1s 0.5s;
}
.problem .collapse-content p {
  line-height: 32px;
  color: #747474;
}
.problem .nav-toggle {
  position: absolute;
  visibility: hidden;
}
.problem .nav-toggle:checked ~ .nav-toggle-label > .collapsible, .problem .collapsible:hover {
  color: #56C4C5;
}
.problem .nav-toggle:checked ~ .collapse-content {
  max-height: 500px;
  padding-bottom: 24px;
  opacity: 1;
}
.problem .nav-toggle:checked ~ .nav-toggle-label > .collapsible::after {
  content: "−";
}
.problem .collapsible::after {
  content: "+";
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  color: #56C4C5;
}
.problem .nav-toggle:checked ~ .nav-toggle-label > .collapsible::after {
  content: "−";
}

@media (max-width: 568px) {
  .problem .card {
    padding: 60px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .problem .collapsibles-wrap {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .problem .toggle-container {
    height: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
    border-radius: 12px;
  }
  .problem .collapsible {
    border-radius: 12px;
    padding: 16px;
    background-color: #fff;
    color: #221E1F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .problem .collapsible p {
    display: inline;
  }
  .problem .collapse-content {
    padding: 0 16px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: padding-bottom 1s, max-height 1s, opacity 1s 0.5s;
  }
  .problem .collapse-content p {
    line-height: 32px;
    color: #747474;
  }
  .problem .nav-toggle {
    position: absolute;
    visibility: hidden;
  }
  .problem .nav-toggle:checked ~ .nav-toggle-label > .collapsible, .problem .collapsible:hover {
    color: #56C4C5;
  }
  .problem .nav-toggle:checked ~ .collapse-content {
    max-height: 500px;
    padding-bottom: 24px;
    opacity: 1;
  }
  .problem .nav-toggle:checked ~ .nav-toggle-label > .collapsible::after {
    content: "−";
  }
  .problem .collapsible::after {
    content: "+";
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    color: #56C4C5;
  }
  .problem .nav-toggle:checked ~ .nav-toggle-label > .collapsible::after {
    content: "−";
  }
}
.credit {
  margin-top: 100px;
}

@media (max-width: 568px) {
  .credit {
    margin-top: 60px;
  }
}/*# sourceMappingURL=prices.css.map */