html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  line-height: 24px;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

p {
  line-height: 24px;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}
a:visited {
  color: inherit;
}

:root {
  --swiper-theme-color: #ffd153 !important;
}

div {
  box-sizing: border-box;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card {
  padding: 0 139px;
}

@media (max-width: 568px) {
  .card {
    padding: 0 20px;
  }
}
.button {
  border-radius: 22px;
}
.button a {
  width: 128px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button-orange {
  background-color: #FF5D50;
}

.button-blue {
  background-color: #56C4C5;
}

.title-blue {
  color: #56C4C5;
}

.title-bold {
  font-weight: bold;
}

.title p {
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 568px) {
  .title p {
    font-size: 16px;
  }
}
.title-l p {
  font-size: 48px;
  line-height: 70px;
}

@media (max-width: 568px) {
  .title-l p {
    font-size: 32px;
    line-height: 46px;
  }
}
.title-m > p {
  font-size: 32px;
  line-height: 46px;
}

@media (max-width: 568px) {
  .title-m > p {
    font-size: 28px;
    line-height: 40px;
  }
}
.title-s > p {
  font-size: 24px;
  line-height: 35px;
}

@media (max-width: 568px) {
  .title-s > p {
    font-size: 18px;
    line-height: 26px;
  }
}
.sub-title p {
  font-size: 20px;
  line-height: 29px;
}

@media (max-width: 568px) {
  .sub-title p {
    font-size: 16px;
    line-height: 24px;
  }
}
.main {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
  background-position: top right, top 490px left -220px, top 1590px right -100px, center bottom 120px;
  background-size: 850px 768px, 360px, 310px, 1366px;
  background-repeat: no-repeat;
}

@media (max-width: 568px) {
  .main {
    max-width: 375px;
    margin: 0 auto;
    background-image: none;
  }
}
.header {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo img {
  height: 40px;
}
.header .logo h1 {
  display: none;
}

@media (max-width: 568px) {
  .header {
    width: 100%;
    padding: 16px 20px;
    border-bottom: 2px solid #FFD153;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .logo img {
    height: 24px;
  }
}
.banner {
  margin-top: 32px;
  background-image: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 102px;
}
.banner .title-l {
  margin: 8px 0 16px;
}
.banner .banner-content {
  width: 451px;
}
.banner .banner-img {
  width: 532px;
}

@media (max-width: 568px) {
  .banner {
    margin-top: 32px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
    background-position: center bottom;
    background-size: 334px 244px;
    background-repeat: no-repeat;
    gap: 32px;
  }
  .banner .title-32 {
    margin: 8px 0 16px;
  }
  .banner .banner-content {
    width: 100%;
  }
  .banner .banner-img {
    width: 100%;
  }
}
.platform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 101px;
  flex-direction: column;
  background-image: none;
}
.platform .platform-card-wrap {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 126px;
}
.platform .platform-card-img > img {
  width: 90px;
}
.platform .platform-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.platform .platform-card-content {
  text-align: center;
  color: #747474;
}

@media (max-width: 568px) {
  .platform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 98.5px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg");
    background-position: top 15px left -77px;
    background-size: 126px;
    background-repeat: no-repeat;
  }
  .platform .platform-card-wrap {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .platform .platform-card-img > img {
    width: 60px;
  }
  .platform .platform-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  .platform .platform-card-content {
    text-align: center;
    color: #747474;
  }
}
.role {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  text-align: center;
  background-image: none;
}
.role .title-s {
  margin-top: 16px;
}
.role .title-s p {
  font-size: 20px;
  line-height: 29px;
}
.role .role-card-wrap {
  margin-top: 48px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.role .role-card-wrap .role-card {
  width: 100%;
  height: 388px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  overflow: hidden;
}
.role .role-card-wrap .role-card .role-card-content {
  padding: 0px 16px 24px;
}

@media (max-width: 568px) {
  .role {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg");
    background-position: right -50px bottom;
    background-size: 135px;
    background-repeat: no-repeat;
  }
  .role .title-s {
    margin-top: 16px;
  }
  .role .title-s p {
    font-size: 18px;
    line-height: 26px;
  }
  .role .role-card-wrap {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .role .role-card-wrap .role-card {
    width: 100%;
    height: 388px;
    background-color: #fff;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
    overflow: hidden;
  }
}
.build {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  flex-direction: row-reverse;
  gap: 137px;
}
.build .build-info {
  width: 396px;
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.build .build-info .title-s > p {
  font-size: 18px;
  line-height: 26px;
  word-wrap: break-word;
}
.build .build-info .button-blue {
  width: 136px;
  height: 49px;
  margin-top: 8px;
  border-radius: 27px;
}
.build .build-info .button-blue a {
  width: 136px;
  height: 49px;
  font-size: 18px;
  line-height: 26px;
}
.build .build-card-wrap {
  width: 507px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 230px 230px;
  grid-template-rows: 280px 280px;
  gap: 28px 47px;
}
.build .build-card-wrap .build-card {
  width: 230px;
  height: 284px;
  padding: 32px 41px 48px 24px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  background-color: #fff;
}
.build .build-card-wrap .build-card .build-card-img {
  width: 86px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
}
.build .build-card-wrap .build-card .build-card-img img {
  width: 52px;
}
.build .build-card-wrap .build-card .title-s {
  margin-top: 24px;
}
.build .build-card-wrap .build-card .title-s p {
  font-size: 18px;
  line-height: 26px;
}
.build .build-card-wrap .build-card .build-card-content {
  margin-top: 16px;
}

@media (max-width: 568px) {
  .build {
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
  .build .build-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
  .build .build-info .button-blue {
    margin-top: 0px;
    border-radius: 27px;
  }
  .build .build-info .button-blue a {
    width: 136px;
    height: 49px;
    font-size: 18px;
    line-height: 26px;
  }
  .build .build-card-wrap {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .build .build-card-wrap .build-card {
    width: 230px;
    height: 284px;
    padding: 32px 41px 48px 24px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
    background-color: #fff;
  }
  .build .build-card-wrap .build-card .build-card-img {
    width: 86px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  }
  .build .build-card-wrap .build-card .build-card-img img {
    width: 52px;
  }
  .build .build-card-wrap .build-card .title-s {
    margin-top: 24px;
  }
  .build .build-card-wrap .build-card .title-s p {
    font-size: 18px;
    line-height: 26px;
  }
  .build .build-card-wrap .build-card .build-card-content {
    margin-top: 20px;
  }
}
.comment {
  margin-top: 60px;
  background-image: none;
}
.comment .title-m {
  text-align: center;
}
.comment .swiper {
  padding-right: 16px;
}
.comment .comment-card-wrap {
  margin-top: 32px;
  padding: 0px 0px 0px 8px;
  width: 100%;
}
.comment .comment-card {
  position: relative;
  width: 100%;
  padding: 48px 13px 20px;
  top: 56px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  background-color: #fff;
}
.comment .comment-card .comment-card-avatar {
  position: absolute;
  top: -56px;
  left: 32px;
}
.comment .comment-card .comment-card-avatar img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  border-radius: 50% 50%;
}
.comment .comment-card .comment-card-comment {
  line-height: 24px;
  text-align: justify;
  padding-bottom: 16px;
  border-bottom: 1px solid #DDDDDD;
}
.comment .comment-card .comment-card-company {
  margin-top: 16px;
  font-weight: bold;
  line-height: 24px;
}
.comment .comment-card .comment-card-company-info-wrap {
  margin-top: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 77px;
}
.comment .comment-card .comment-card-company-info-wrap ul {
  display: flex;
  gap: 8px;
}
.comment .comment-card .comment-card-company-info-wrap ul > li {
  width: 16px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_star.svg");
  background-size: 16px;
  background-repeat: no-repeat;
}
.comment .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: static;
  margin-top: 80px;
  width: 100%;
}
.comment .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 8px;
}

@media (max-width: 568px) {
  .comment {
    margin-top: 60px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
    background-repeat: no-repeat;
    background-position: -80px 40px;
    background-size: 153px;
  }
  .comment .title-m > p {
    text-align: center;
  }
  .comment .comment-card-wrap {
    margin-top: 32px;
    width: 100%;
    height: 354px;
    display: flex;
  }
  .comment .comment-card {
    position: relative;
    width: 100%;
    padding: 48px 16px 20px;
    top: 56px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
    border-radius: 12px;
    background-color: #fff;
  }
  .comment .comment-card .comment-card-avatar {
    position: absolute;
    top: -56px;
    left: 32px;
  }
  .comment .comment-card .comment-card-avatar img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-radius: 50% 50%;
  }
  .comment .comment-card .comment-card-comment {
    line-height: 24px;
    text-align: justify;
    padding-bottom: 16px;
    border-bottom: 1px solid #DDDDDD;
  }
  .comment .comment-card .comment-card-company {
    margin-top: 16px;
    font-weight: bold;
    line-height: 24px;
  }
  .comment .comment-card .comment-card-company-info-wrap {
    margin-top: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 77px;
  }
  .comment .comment-card .comment-card-company-info-wrap ul {
    display: flex;
    gap: 8px;
  }
  .comment .comment-card .comment-card-company-info-wrap ul > li {
    width: 16px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_star.svg");
    background-size: 16px;
    background-repeat: no-repeat;
  }
  .comment .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: static;
    margin-top: -10px;
    width: 100%;
  }
  .comment .swiper-pagination .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 8px;
  }
}
.footer {
  margin-top: 360px;
  padding-top: 0px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  background-image: none;
}
.footer .title > p {
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}
.footer .button {
  width: 136px;
  height: 49px;
  border-radius: 27px;
}
.footer .button a {
  width: 136px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 568px) {
  .footer {
    margin-top: 60px;
    padding-top: 293px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer .title > p {
    font-size: 24px;
    line-height: 35px;
    text-align: center;
  }
  .footer .button {
    width: 136px;
    height: 49px;
    border-radius: 27px;
  }
  .footer .button a {
    width: 136px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
  }
}
.credit-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.credit-wrap .credit {
  width: 1366px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}
.credit-wrap .credit p {
  text-align: center;
}

@media (max-width: 568px) {
  .credit-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .credit-wrap .credit {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
  }
  .credit-wrap .credit p {
    text-align: center;
  }
}
.top-button {
  width: 71px;
  height: 71px;
  position: fixed;
  right: 48px;
  bottom: 23px;
  background-color: #56C4C5;
  border-radius: 50%;
  z-index: 99;
}
.top-button a {
  width: 71px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-family: "Wendy One", sans-serif;
}

@media (max-width: 568px) {
  .top-button {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: #56C4C5;
    border-radius: 50%;
    z-index: 99;
  }
  .top-button a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-family: "Wendy One", sans-serif;
  }
}/*# sourceMappingURL=all.css.map */